.movies-container,
.movies-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

/* 장르 드롭다운 */
#movies-area {
  #dropdown-basic-button  {
    width: 158px;
    background-color: rgba(255, 0, 0, 0.651);
    border: none;
  }

  .dropdown-menu {
    background-color: rgba(220, 220, 220, 0.925);
  }

  #dropdown-button {
    background-color: black;
    border: none;
  }

}

.genre-dropBtn {
  margin: 0 0 40px 10px;
}

.movie-card {
  margin: 30px 10px;
}
 
.movie-no-data {
  margin-top: 20px;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination .page-item .page-link {
  background-color: transparent;
  color: #dd3939bd;
  border: none;
  font-weight: 700;
}

.pagination .page-item .page-link:hover {
  background-color: #dd3939bd;
  color: #fff;
  border: none;
}


.pagination .page-item .page-link:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.pagination .page-item .page-link:active {
  outline: none;
  border: none;
}

.pagination .page-item.active .page-link {
  background-color: #dd3939bd;
  color: #fff;
  outline: none;
  border: none;
}
