

/* 영화 예고편 모달 */
.youtube-video-container {
    width: 100%;  /* 모달 창의 너비에 맞춤 */
    aspect-ratio: 16 / 9; /* 16:9 비율 유지 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

